<div class="container mrt-ex">

<h2>APPOINTMENT DETAILS</h2>
<div *ngIf="noOppointment">
  <h1 class="text-danger"> NO APPOINTMENT</h1>
</div>
<div  *ngIf="!noOppointment">
 <b>Filter By Date : </b> 
 <input [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="dateFilter($event)" type="date" name="startDate"/>
</div>
<table class="table table-striped mt-5" *ngIf="!noOppointment">
  <thead>
  <tr>
    <th scope="col">DATE</th>
    <th scope="col" >NAME</th>
    <th scope="col" sortable="name" >TIME</th>    
    <th scope="col">STATUS</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let app of appointment">
    <th scope="row">{{ app.app_date }}</th>
    <td>
      
      {{ app.patient_name }}
    </td>
    <td>{{ app.app_time  }}</td>
    <td>{{ app.app_status  }}</td>
    <td><a  class="pin-point" (click)="changeStatus(content,app.app_id)">edit</a></td>
  </tr>
  </tbody>
</table>
</div>

<ng-template #content let-modal>
  <div class=" modal-header shadow">
    <h4 class="modal-title" id="modal-basic-title">CHANGE APPOINTMENT STATUS</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="status">Status</label>
        <div class="input-group">
          <select name="status" class="form-control" [(ngModel)] = "modalStatus">
            <option *ngFor="let option of options" [value]="option.key" >{{option.value}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal();modal.close('Save click');">Save</button>
  </div>
</ng-template>
